CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-8MiB-sr.csv"

# ESP-SR配置 (参照project-i2s-wakup-new)
#CONFIG_SR_NSN_WEBRTC=y
CONFIG_SR_VADN_VADNET1_MEDIUM=y
CONFIG_SR_WN_WN9_HILEXIN=y
# 添加MultiNet模型配置
CONFIG_SR_MN_CN_MULTINET7_QUANT=y
# 语音命令配置 (hai xiao le作为首个唤醒命令)
CONFIG_CN_SPEECH_COMMAND_ID0="hai xiao le"
CONFIG_CN_SPEECH_COMMAND_ID1="da kai kong qi jing hua qi"
CONFIG_CN_SPEECH_COMMAND_ID2="guan bi kong qi jing hua qi"
CONFIG_CN_SPEECH_COMMAND_ID3="da kai tai deng"
CONFIG_CN_SPEECH_COMMAND_ID4="guan bi tai deng"
CONFIG_CN_SPEECH_COMMAND_ID5="tai deng tiao liang"
CONFIG_CN_SPEECH_COMMAND_ID6="tai deng tiao an"
CONFIG_CN_SPEECH_COMMAND_ID7="da kai deng dai"
CONFIG_CN_SPEECH_COMMAND_ID8="guan bi deng dai"
CONFIG_CN_SPEECH_COMMAND_ID9="bo fang yin yue"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
#add 0821
CONFIG_ESP_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_SIZE=-1

CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_ESP32S3_DATA_CACHE_64KB=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
